// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

table tbody tr td {
    vertical-align: middle !important;
    &:last-of-type {
        width: 1%;
        white-space: nowrap;
    }
}
